aside {
    background-color: bisque;
    height: 100vh;
    text-align: center;
}

/* header{
    display: flex;
    align-content: center;
    justify-content: center;
} */

button{
    background-color: rgb(82, 156, 206);
    margin-bottom: 10px;
}

#searchlist{
    display: flex;
    margin-top: 10%;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    flex-wrap: wrap;
    

}

input{
    max-width: 200px;
    width: 70%;
}

.searched{
    text-align: center;
    background-color: cornsilk;
    border: grey solid 1px;
    opacity: 0.7;
    width: 100%;
    display: block;

}

.searched:hover{
    opacity: 1;
    border:black solid 1px;
    box-shadow:5px 5px 10px white,-5px -5px 10px white;
    transition: 0.5s;
}

.searched:active{
    background-color: red;
}

main {
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-container{
    margin-top: 10%;
    border: black solid 1px;
    min-height: 35%;
    width: 100%;
    position: relative;
}

#currentTitle{
    margin-left: 5%;
    margin-top: 5%;
    border: blue solid 1px;
    width: 70%;
    
}

#currentList{
    margin-left: 5%;
    margin-top:10px;
    border: blue solid 1px;
}

#weathericon{
    border: blueviolet solid 1px;
    display: inline-block;
    position:absolute;
    right:5%;
    top:10%;
}

#uvLow{
    background-color: green;
}

#uvModerate{
    background-color: yellow;
}

#uvHigh{
    background-color: orange;
}

#uvVeryhigh{
    background-color: red;
}

#uvExtreme{
    background-color: violet;
}

.listitems{
    margin-top:5px;
}





@media screen and (max-width: 767px) {

    aside{
        height: auto;
    }
}